body {
    background-color: #EEE;
    margin: 0;
    text-align: center;
}

header {
    background-color: #6b8e23;
    padding:  10px;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
}

header span {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size:  20px;
    font-weight: bold;
    margin: auto;
}

header .logo{
    width: 100px;
}

section {
    margin-top: 100px;
    padding: 30px;
}

ul.to-do-list > li {
    border: 2px solid green;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight:  bold;
    background-color: #ADFF2F;
    border-radius:  5px;
}

.to-do-list > li.done {
    background-color: #90EE90;
    border-radius:  50px;
    text-decoration: line-through;
}

footer {
    background-color: #c0c0c0;
    padding:  20px  0;
}

#console {
    color: red;
    border: 2px solid red;
    margin: 20px;
    padding: 10px;
}

